.ui-kit
	position relative
	padding 15px 15px 200px

	&__item
		position relative
		margin-bottom 10px
		padding-top 25px
		border 1px solid #ccc

		&_background_dark
			color $color-11
			background #444

	&__name
		padding-x 12px
		font-size 16px
		color #ccc

	&__content
		padding 10px

	&__col
		padding 10px
		min-width 50%

	&__check
		padding 7px 0

	.grey
		background-color $color-10
