.index
	display flex
	justify-content center
	flex-direction column
	align-items center
	overflow hidden
	width 100%
	height 100vh
	background-image url(../images/bg.jpg)
	background-repeat no-repeat
	background-size cover
	background-position 50% 50%

	&__options
		padding-top 30px
		display flex
		justify-content space-between
		width 400px

	&__game-info
		padding-y 20px
		font-size 18px
		color white
		text-shadow 2px 2px 2px black

	&__wraper
		padding-x 20px
		display flex
		justify-content space-between
		width 240px
		height 40px
		background black
		border-radius 7px
		box-shadow inset 0 0 6px rgba(255, 0, 0, .7), 7px 7px 20px 0 black

	&__timer
	&__counter
		height 40px
		font-size 30px
		line-height 40px
		color white
		text-shadow 0 0 6px rgba(255, 0, 0, .7)
