include ../button/button

mixin cap()
	+b.cap.js-cap&attributes(attributes)
		+e.user
			+e('input').input(value='' placeholder='Введите имя').js-user-input
			+button({
				id: 'addUser',
				text: 'Добавить'
			}).js-user-button

		+e.win
			+e.win-answer Победа!
			+e.name Имя победителя:
				span.js-win-name
			+e.step Количество ходов:
				span.js-win-step
			+e.time Время игры:
				span.js-win-time
